<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<properties resource="Config/properties.config"/>

	<settings>
		<setting useStatementNamespaces="true" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<providers resource="Config/providers.config"/>

	<database>
		<provider name="SQLite3" />
		<dataSource name="dataSource" connectionString="${connectionString}"/>
	</database>

	<sqlMaps>
		<sqlMap resource="TestWork/Mapper/Demo.map.config" />
	</sqlMaps>

</sqlMapConfig>
