@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,th,td,form,fieldset{margin:0;padding:0}
body{background:#f7fcff;line-height:20px;font-size:12px;font:12px/1.5;font-family:'\5FAE\8F6F\96C5\9ED1',"Microsoft YaHei","\5B8B\4F53",Tahoma,Arial,Helvetica,sans-serif;color:#363636;background-size:cover;}

table{border-collapse:collapse;border-spacing:0}
h1{font-size:18px}h2{font-size:16px}h3{font-size:14px}h4,h5,h6{font-size:100%}
button,input,select,textarea{font-size:100%}
input,button{overflow:visible;vertical-align:middle;outline:none;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;outline:0}
button{border:none}
address,cite,dfn,em,var{font-style:normal}
pre,xmp{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word}
textarea{resize:none}
img{border:0 none;vertical-align:middle;display:inline-block;}

ul,ol,dl{list-style-type:none;}
sub,sup{vertical-align:baseline;}

a{color:#00c;text-decoration:underline;outline:none;}
a:link,a:visited{color:#00c;outline:none;}
a:hover,a:active{color:#00c;}

.clear,.clearfix{clear:both;*zoom:1;}
.clear:after,.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.left{float:left;}
.right{float:right;}
.more {color: #0066cc;text-decoration: underline;vertical-align: bottom;}


.header{font-family:"\5B8B\4F53";height:247px;text-align:center;background:url(web/header.jpg) no-repeat top center;}


.nav{width:990px;height:44px;margin:-20px auto 5px auto;z-index:10;
  background:-webkit-linear-gradient(top,#1cb3f2 0,#13408b 100%);
  background:-moz-linear-gradient(top,#1cb3f2 0,#13408b 100%);
  background:-o-linear-gradient(top,#1cb3f2 0,#13408b 100%);
  background:linear-gradient(to bottom,#1cb3f2 0,#13408b 100%);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1cb3f2,endColorstr=#13408b,GradientType=0);
  border-radius:5px;
}
.nav ul{list-style:none;padding:10px 15px 0 0;}
.nav ul li{list-style-type:none;float:left;font-size:14px;height:23px;line-height:23px;padding:0 35px;background:url(web/nav_line.gif) no-repeat right center;}
.nav ul li.last{background:none;}
.nav a,.nav a:link,.nav a:visited{color:#FFF;text-decoration:none;}
.nav a:hover{color:#ffff00;text-decoration:underline;}

.nav .nav_s{padding:7px 0 0 0;*padding-top:6px;_padding-top:5px;}
.nav .nav_s .text{width:180px;height:29px;line-height:29px;background:none;border:none;vertical-align:middle;margin-right:3px;}
.nav .nav_s .btn{display:inline-block;width:20px;height:20px;*background:url(blank.gif) no-repeat 0 0;vertical-align:middle;}


.footer{width:990px;clear:both;padding-top:15px;margin:0 auto;}
.footer div {overflow:hidden;zoom:1;color:#333;padding:15px;
  background:-webkit-linear-gradient(top,#f7fcff 0,#dff3fe 100%);
  background:-moz-linear-gradient(top,#f7fcff 0,#dff3fe 100%);
  background:-o-linear-gradient(top,#f7fcff 0,#dff3fe 100%);
  background:linear-gradient(to bottom,#f7fcff 0,#dff3fe 100%);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7fcff,endColorstr=#dff3fe,GradientType=0);
}
.footer p{float:left;width:400px;font-family:"\5B8B\4F53";text-align:left;line-height:25px;}
.footer a{text-decoration:none;vertical-align:top;}
.footer a.dzjg{float:left;margin-left:180px;width:100px;height:100px;}
.footer a.dzjg img{margin-top:10px;}
.footer a.gs{float:left;width:100px;height:100px;}
.footer a.gs img{margin-top:30px;}


.w990{margin:0 auto;width:990px;vertical-align:top;}
.w240{width:240px;vertical-align:top;}
.w735{width:735px;vertical-align:top;}


.gk{}
.gk div.vname{border-radius:5px 5px 0 0;font-size:14px;font-weight:bold;line-height:40px;color:#fff;width:100%;background-color:#1991CD;}
.gk div.vbox{border:1px solid #ddd;}
.gk ul{padding:5px 0;margin:0;background:#fff;}
.gk ul li{padding:0;margin:0;list-style-type:none;line-height:28px;width:225px;border-bottom:1px solid #ddd;margin-left:6px;}
.gk a{color:#777;font-family:\5B8B\4F53;font-size:14px;font-weight:bold;display:block;padding-left:15px;text-decoration:none;}
.gk a:link,
.gk a:visited{color:#777;}
.gk a:hover{color:#d1efff;background:#0282c3;text-decoration:underline;}
.gk a.sm{color:#777;font-size:12px;padding-left:30px;}
.gk a.sm:hover{color:#d1efff;background:#0282c3;font-size:12px;padding-left:30px;text-decoration:underline;}
.gk a.selected{border-radius:3px;color:#d1efff;background:#0282c3;text-decoration:underline;}


.listpage{border:1px solid #e8e8e8;line-height:24px;background:#fff;}
.listpage .list a,
.listpage .list a:link,
.listpage .list a:visited,
.listpage .page a,
.listpage .page a:link,
.listpage .page a:visited{color:#333;text-decoration:none;display:inline-block;}
.listpage div.logo{font-size:14px;line-height:40px;font-weight:bold;background-color:#f2f2f2;border-bottom:1px solid #E7E7E7;}
.listpage .list{padding:6px 9px 10px 0px;}
.listpage .list dl{background-color:#fbfbfb;height:35px;overflow:hidden;width:710px;margin-left:10px;border-bottom:1px dashed #e9e9e9;}
.listpage .list dt{float:left;line-height:35px;padding-left:15px;width:520px;text-align:left;}
.listpage .list dd{float:right;line-height:35px;width:100px;text-align:left;}
.listpage .list dl.title{font-weight:bold;background-color:#f6f6f6;height:35px;border-radius:10px;border-bottom:1px solid #e9e9e9;}
.listpage .list dt a:hover{color:#ff0000;text-decoration:underline;}
.listpage .page{text-align:center;padding:3px 0 10px 15px;width:700px;}
.listpage .page a,
.listpage .page a:link,
.listpage .page a:visited{text-align:center;width:27px;line-height:27px;margin:4px;background-color:#e2e2e0;color:#000;}
.listpage .page a:hover{color:#fff;background-color:#1c72be;text-decoration:underline;cursor:pointer;}
.listpage .page a.selected,
.listpage .page a.selected:hover{color:#fff;background-color:#1c72be;text-decoration:none;cursor:default;}
.listpage div.title{margin:0 auto;width:95%;font-size:16px;color:#db3a00;text-align:center;line-height:80px;border-bottom:1px solid #ddd;}
.listpage div.content{margin:0 auto;width:90%;text-align:left;line-height:30px;padding:20px;}

.foucs {width:400px;height:320px;padding:0;margin:0;overflow:hidden;}
.foucs div,
.foucs span{height:32px;position:absolute;left:0;bottom:0;display:block;padding:0;margin:0;}
.foucs div{width:400px;background:black;opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);}
.foucs span{width:395px;padding-left:5px;line-height:32px;color:#fff;font-size:12px;cursor:pointer;overflow:hidden;}
.foucs span:hover{text-decoration:underline;}
.foucs ul,
.foucs li{list-style-type:none;padding:0;margin:0;}
.foucs ul.img {width:400px;height:250px;position:relative;clear:both;overflow:hidden;}
.foucs ul.img li {position:absolute;}
.foucs ul.img li img{width:400px;height:250px;border:none;}

.foucs ul.menu {width:400px;clear:both;position:absolute;background-color:#fff;overflow:hidden;}
.foucs ul.menu li {padding-top:5px;margin-left:1px;float:left;display:inline;}
.foucs ul.menu li img{width:96px;height:60px;position:relative;border:1px solid #ddd;}
.foucs ul.menu li.on {background:url("web/foucs.gif") no-repeat center 1px;}
.foucs ul.menu li.on img {border:2px solid #ff8605;}