<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dswork.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 改变配置信息 -->
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>

    <!-- 测试 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="TestsForDsWork"
        android:targetPackage="dswork.android" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Sherlock.__Theme.Light" >
        <activity
            android:name="dswork.android.IndexActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dswork.android.demo.ui.ViewPagerActivity"
            android:label="@string/title_activity_view_pager" >
        </activity>
        <activity
            android:name="dswork.android.demo.ui.FragmentTabHostActivity"
            android:label="@string/title_activity_fragment_tab_host" >
        </activity>
        <activity
            android:name="dswork.android.demo.ui.OleTabActivity"
            android:label="@string/title_activity_oletab"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name="dswork.android.demo.ui.SlidingMenuActivity"
            android:label="@string/title_activity_slidingmenu"
            android:logo="@drawable/ic_3"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name="dswork.android.demo.ui.FragmentDemoActivity"
            android:label="@string/title_activity_fragment_demo" >
        </activity>
        <activity
            android:name="dswork.android.demo.ui.HtmlTabActivity"
            android:label="@string/title_activity_html_tab"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.single.PersonGet_A"
            android:label="@string/title_activity_person" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.single.PersonAdd_A"
            android:label="@string/title_activity_person_add" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.single.PersonUpd_A"
            android:label="@string/title_activity_person_edit" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.single.PersonGetById_A"
            android:label="@string/title_activity_person_detail" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.single.PersonSearch_A"
            android:label="@string/title_activity_person_search" >
        </activity>
        <activity
            android:name="dswork.android.demo.component.alphabet.AlphabetActivity"
            android:label="@string/title_activity_alphabet" >
        </activity>
        <activity
            android:name="dswork.android.demo.component.loadmore.LoadMoreActivity"
            android:label="@string/title_activity_loadmore" >
        </activity>
        <!-- android:configChanges 防止横竖屏切换时重刷Activity -->
        <activity
            android:name="dswork.android.demo.framework.app.web.Main_A"
            android:label="@string/title_activity_demo_main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.web.DemoAdd_A"
            android:label="@string/title_activity_demo_add"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.web.DemoUpd_A"
            android:label="@string/title_activity_demo_upd"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.web.DemoGetById_A"
            android:label="@string/title_activity_demo_detail"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name="dswork.android.demo.framework.app.web.DemoSearch_A"
            android:label="@string/title_activity_demo_search"
            android:parentActivityName=".IndexActivity" >
        </activity>

        <!-- 测试 -->
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>
