@charset "utf-8";
*{word-wrap:break-word;}
html,body,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0;}
ul,ol,dl{list-style-type:none;}
html,body{*position:static;height:100%;border:0;line-height:1.6;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button{overflow:visible;vertical-align:middle;outline:none;}
body,th,td,button,input,select,textarea,a,span,p,div{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"\5B8B\4F53";font-size:12px;color:#182a2d;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;}
sub,sup{vertical-align:baseline;}
html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}

body,table,tr{background-color:#ffffff;}
table.normal{width:99%;}

a{outline:none;text-decoration:none;cursor:pointer;}
a:link,a:visited,a:active{color:#182a2d;outline:none;}
a:hover{outline:none;color:#205e92;color:#182a2d;text-decoration:underline;}
a:focus{outline:none;}
a:hover,a:active{outline:none;}:focus{outline:none;}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}

.menuTool{white-space:nowrap;}
.menuTool a{padding:0 0 2px 18px;}
.menuTool a.excel{background:url(img/file/excel.png) no-repeat 0px 0px;}
.menuTool a.exe  {background:url(img/file/exe.png) no-repeat 0px 0px;}
.menuTool a.file {background:url(img/file/file.png) no-repeat 0px 0px;}
.menuTool a.flash{background:url(img/file/flash.png) no-repeat 0px 0px;}
.menuTool a.mp3  {background:url(img/file/mp3.png) no-repeat 0px 0px;}
.menuTool a.pdf  {background:url(img/file/pdf.png) no-repeat 0px 0px;}
.menuTool a.psd  {background:url(img/file/psd.png) no-repeat 0px 0px;}
.menuTool a.word {background:url(img/file/word.png) no-repeat 0px 0px;}

.menuTool a.add     {background:url(img/menu.png) no-repeat 0px    0px;}
.menuTool a.del     {background:url(img/menu.png) no-repeat 0px  -25px;}
.menuTool a.upd     {background:url(img/menu.png) no-repeat 0px  -50px;}
.menuTool a.get     {background:url(img/menu.png) no-repeat 0px  -75px;}
.menuTool a.insert  {background:url(img/menu.png) no-repeat 0px    0px;}
.menuTool a.delete  {background:url(img/menu.png) no-repeat 0px  -25px;}
.menuTool a.update  {background:url(img/menu.png) no-repeat 0px  -50px;}
.menuTool a.select  {background:url(img/menu.png) no-repeat 0px  -75px;}
.menuTool a.check   {background:url(img/menu.png) no-repeat 0px -100px;}
.menuTool a.clock   {background:url(img/menu.png) no-repeat 0px -125px;}
.menuTool a.copy    {background:url(img/menu.png) no-repeat 0px -150px;}
.menuTool a.edit    {background:url(img/menu.png) no-repeat 0px -175px;}
.menuTool a.go      {background:url(img/menu.png) no-repeat 0px -200px;}
.menuTool a.graph   {background:url(img/menu.png) no-repeat 0px -225px;}
.menuTool a.key     {background:url(img/menu.png) no-repeat 0px -250px;}
.menuTool a.lock    {background:url(img/menu.png) no-repeat 0px -275px;}
.menuTool a.look    {background:url(img/menu.png) no-repeat 0px -300px;}
.menuTool a.move    {background:url(img/menu.png) no-repeat 0px -325px;}
.menuTool a.pause   {background:url(img/menu.png) no-repeat 0px -350px;}
.menuTool a.pic     {background:url(img/menu.png) no-repeat 0px -375px;}
/*
.menuTool a.recheck {background:url(img/menu.png) no-repeat 0px -400px;}
*/
.menuTool a.refresh {background:url(img/menu.png) no-repeat 0px -425px;}
.menuTool a.sort    {background:url(img/menu.png) no-repeat 0px -450px;}
.menuTool a.start   {background:url(img/menu.png) no-repeat 0px -475px;}
.menuTool a.tool    {background:url(img/menu.png) no-repeat 0px -500px;}
/*
.menuTool a.uncheck {background:url(img/menu.png) no-repeat 0px -525px;}
*/
.menuTool a.user    {background:url(img/menu.png) no-repeat 0px -550px;}

.menuTool a.download{background:url(img/menu.png) no-repeat 0px -600px;}
.menuTool a.upload  {background:url(img/menu.png) no-repeat 0px -625px;}
.menuTool a.bar     {background:url(img/menu.png) no-repeat 0px -650px;}
.menuTool a.pie     {background:url(img/menu.png) no-repeat 0px -675px;}

.menuTool .back   {background:url(img/menu/back.png)    no-repeat 0px 0px;}
.menuTool .close  {background:url(img/menu/close.png)   no-repeat 0px 0px;}
.menuTool .commit {background:url(img/menu/commit.png)  no-repeat 0px 0px;}
.menuTool .save   {background:url(img/menu/save.png)    no-repeat 0px 0px;}
.menuTool .submit {background:url(img/menu/submit.png)  no-repeat 0px 0px;}
.menuTool .printer{background:url(img/menu/printer.png) no-repeat 0px 0px;}
.menuTool-back    {background:url(img/menu/back.png)    no-repeat;}
.menuTool-close   {background:url(img/menu/close.png)   no-repeat;}
.menuTool-commit  {background:url(img/menu/commit.png)  no-repeat;}
.menuTool-save    {background:url(img/menu/save.png)    no-repeat;}
.menuTool-submit  {background:url(img/menu/submit.png)  no-repeat;}
.menuTool-printer {background:url(img/menu/printer.png) no-repeat;}

.menuTool .vline {background-color:silver;padding-left:1px;padding-right:0px;margin:0px 2px 0px 2px;}

.menuTool-leftarrow {background:url(img/menu/leftarrow.png)  no-repeat;}
.menuTool-rightarrow{background:url(img/menu/rightarrow.png) no-repeat;}
.menuTool-uparrow   {background:url(img/menu/uparrow.png)    no-repeat;}
.menuTool-downarrow {background:url(img/menu/downarrow.png)  no-repeat;}

.menuTool-excel{background:url(img/file/excel.png) no-repeat 0px 0px;}
.menuTool-exe  {background:url(img/file/exe.png)   no-repeat 0px 0px;}
.menuTool-file {background:url(img/file/file.png)  no-repeat 0px 0px;}
.menuTool-flash{background:url(img/file/flash.png) no-repeat 0px 0px;}
.menuTool-mp3  {background:url(img/file/mp3.png)   no-repeat 0px 0px;}
.menuTool-pdf  {background:url(img/file/pdf.png)   no-repeat 0px 0px;}
.menuTool-psd  {background:url(img/file/psd.png)   no-repeat 0px 0px;}
.menuTool-word {background:url(img/file/word.png)  no-repeat 0px 0px;}

.menuTool-add     {background:url(img/menu.png) no-repeat 0px    0px;}
.menuTool-del     {background:url(img/menu.png) no-repeat 0px  -25px;}
.menuTool-upd     {background:url(img/menu.png) no-repeat 0px  -50px;}
.menuTool-get     {background:url(img/menu.png) no-repeat 0px  -75px;}
.menuTool-insert  {background:url(img/menu.png) no-repeat 0px    0px;}
.menuTool-delete  {background:url(img/menu.png) no-repeat 0px  -25px;}
.menuTool-update  {background:url(img/menu.png) no-repeat 0px  -50px;}
.menuTool-select  {background:url(img/menu.png) no-repeat 0px  -75px;}
.menuTool-check   {background:url(img/menu.png) no-repeat 0px -100px;}
.menuTool-clock   {background:url(img/menu.png) no-repeat 0px -125px;}
.menuTool-copy    {background:url(img/menu.png) no-repeat 0px -150px;}
.menuTool-edit    {background:url(img/menu.png) no-repeat 0px -175px;}
.menuTool-go      {background:url(img/menu.png) no-repeat 0px -200px;}
.menuTool-graph   {background:url(img/menu.png) no-repeat 0px -225px;}
.menuTool-key     {background:url(img/menu.png) no-repeat 0px -250px;}
.menuTool-lock    {background:url(img/menu.png) no-repeat 0px -275px;}
.menuTool-look    {background:url(img/menu.png) no-repeat 0px -300px;}
.menuTool-move    {background:url(img/menu.png) no-repeat 0px -325px;}
.menuTool-pause   {background:url(img/menu.png) no-repeat 0px -350px;}
.menuTool-pic     {background:url(img/menu.png) no-repeat 0px -375px;}
/*
.menuTool-recheck {background:url(img/menu.png) no-repeat 0px -400px;}
*/
.menuTool-refresh {background:url(img/menu.png) no-repeat 0px -425px;}
.menuTool-sort    {background:url(img/menu.png) no-repeat 0px -450px;}
.menuTool-start   {background:url(img/menu.png) no-repeat 0px -475px;}
.menuTool-tool    {background:url(img/menu.png) no-repeat 0px -500px;}
/*
.menuTool-uncheck {background:url(img/menu.png) no-repeat 0px -525px;}
*/
.menuTool-user    {background:url(img/menu.png) no-repeat 0px -550px;}

.menuTool-download{background:url(img/menu.png) no-repeat 0px -600px;}
.menuTool-upload  {background:url(img/menu.png) no-repeat 0px -625px;}
.menuTool-bar     {background:url(img/menu.png) no-repeat 0px -650px;}
.menuTool-pie     {background:url(img/menu.png) no-repeat 0px -675px;}

input.text,input[type="text"],input[type="password"],select,textarea{padding:1px;box-sizing:border-box;border:solid 1px #c2c2c2;line-height:1.42857;
    -webkit-transition:all 0.2s linear 0s;
       -moz-transition:all 0.2s linear 0s;
         -o-transition:all 0.2s linear 0s;
            transition:all 0.2s linear 0s;}
input.text,input[type="text"],input[type="password"],select{height:24px;vertical-align:middle;line-height:1.42857!important;}
textarea{resize:none;padding:2px;}
input.text:hover,input[type="text"]:hover,input[type="password"]:hover,select:hover,textarea:hover{border:#0192d0 solid 1px;}
input.text:focus,input[type="text"]:focus,input[type="password"]:focus,select:focus,textarea:focus{border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}

input.text.disabled,input[type="text"].disabled,input[type="password"].disabled,select.disabled,textarea.disabled,
input.text.disabled:focus,input[type="text"].disabled:focus,input[type="password"].disabled:focus,select.disabled:focus,textarea.disabled:focus
.input-text.disabled,.textarea.disabled,.input-text.disabled.focus,.textarea.disabled.focus{background-color:#ededed; cursor:default;border-color:#ddd;
	-webkit-box-shadow:inset 0 2px 2px #e8e7e7;
       -moz-box-shadow:inset 0 2px 2px #e8e7e7;
            box-shadow:inset 0 2px 2px #e8e7e7;}

span.msg{color:#0000ff;}
span.tips{color:#0000ff;}
span.imp{padding-left:3px;color:#ff0000;font-weight:bold;}
input.button,
input.delete{border:none;background:none;padding:0em;margin:0em;line-height:1.5em;cursor:pointer;background-color:#2996ff;color:#fff;border-radius:3px;}
input.button{padding:0.2em 1em 0.3em 1em;}
input.button:hover{background-color:#317ef3;}
input.delete{border:none;width:18px;height:18px;background:url(img/button/delete.png) 0px 0px no-repeat;}
input.text{width:200px;}
input.readonlytext{width:200px;background-color:#e1e1e1;color:#000000;}
textarea.readonlytext{width:100%;background-color:#e1e1e1;color:#000000;}
div.line{display:block;width:1px;height:3px;margin:0px;padding:0px;overflow:hidden;}

.topTable, .bottomTable, .listTable{width:100%;border:#c2c2c2 solid 1px;background-color:#c2c2c2;}
.topTable{border-bottom:none;}
.bottomTable{border-top:none;border:none;}
.bottomTable td{background-color:#d9e5fd;}
.listTable{border:none;width:99%;margin:0 auto;}
.listTable tr{height:33px;line-height:1.5em;padding:0px 5px;}
.listTable td{line-height:1.5em;vertical-align:middle;text-align:center;background-color:#ffffff;color:#2b3e44;word-wrap:break-word;word-break:break-all;}
.listTable tr tr, .listTable td td{height:auto;line-height:normal;}
.listTable tr.list_title{height:33px;}
.listTable tr.list_title td{color:#24373d;}
/*奇行*/.listTable tr.list_odd{}  .listTable tr.list_odd  td{background-color:#fcfcfc;}
/*偶行*/.listTable tr.list_even{} .listTable tr.list_even td{background-color:#ffffff;}
/*停留*/.listTable tr.list_over{} .listTable tr.list_over td{background-color:#fdfad0;}
/*默认*/.listTable tr.list{}      .listTable tr.list      td{background-color:#ffffff;}

.listLogo{width:100%;border:none;border-bottom:#c2c2c2 solid 1px;}
.listLogo tr{height:30px;line-height:1.5em;padding:0em;}
.listLogo td{color:#000000;text-align:right;vertical-align:middle;white-space:nowrap;padding:0px 5px;}
.listLogo td.title{text-align:left;}
.listLogo td, .listTable tr.list_title td, .listTable tr.list_title th{background-color:#e0ecff;}
.listLogo input.button{}

.queryTable{border:#c2c2c2 solid 1px;width:99%;margin:0 auto;}
.queryTable tr{height:30px;}
.queryTable td{background-color:#ffffff;padding:0em;}
.queryTable td.title{text-align:right;padding-left:1px;}
.queryTable td.input{text-align:left;padding-right:1px;}
.queryTable td.query{text-align:center;}
.queryTable input.text{width:80px;}
.queryTable input.button{height:20px;padding:0em;margin:0em;width:38px;}

.pageview, .pageview *{margin:0em;padding:0em;color:#182a2d;font-size:12px;height:28px;line-height:28px;vertical-align:middle;}
.pageview{float:right;text-align:right;padding:0px 10px 0px 0px;width:100%;}
.pageview a,
.pageview a:link,
.pageview a:visited,
.pageview a:hover,
.pageview a:active{width:auto;height:18px;line-height:18px;text-decoration:none;color:#182a2d;background-color:#d9e5fd;border:#7998C6 solid 1px;display:inline-block;padding:0 5px;border-radius:3px;}
.pageview a:hover{background-color:#317ef3;color:#fff;}
.pageview a.first{}/*width:38px;padding-left: 14px;background:url(img/pageview/first.png) no-repeat;background-position:left center;}*/
.pageview a.prev {}/*width:38px;padding-left: 13px;background:url(img/pageview/prev.png ) no-repeat;background-position:left center;}*/
.pageview a.next {}/*width:38px;padding-right:13px;background:url(img/pageview/next.png ) no-repeat;background-position:right center;}*/
.pageview a.last {}/*width:38px;padding-right:14px;background:url(img/pageview/last.png ) no-repeat;background-position:right center;}*/
.pageview input{height:18px;line-height:12px;text-align:center;}
.pageview input.input{height:18px;width:25px;border:#7998c6 solid 1px;font-size:12px;}
.pageview input.go{height:18px;width:30px;cursor:pointer;border:#7998C6 solid 1px;background:none;font-size:10px;font-weight:bold;border-radius:3px;}
.pageview input.go:hover{background-color:#317ef3;color:#fff;}
.pageview select{height:18px;width:42px;line-height:1.8em;text-align:center;cursor:pointer;border:none;border:#7998c6 solid 1px;}

/*表单*/
/*标题*/td.form_title{padding-left:3px;padding-right:3px;text-align:right;background-color:#fcfcfc;}
/*内容*/td.form_input{padding-left:3px;padding-right:3px;text-align:left;background-color:#ffffff;}
/*信息*/td.form_tips {text-align:center;height:50px;vertical-align:middle;}
/*底部列(一般放置铵钮)*/
td.form_bottom{height:30px;background-color:#ffffff;text-align:center;vertical-align:middle;border-top:#6ea5eb solid 1px;}

.treebody{height:100%;}
.treebody .treediv{overflow:auto;height:100%;}

.easyuiMenu{width:120px;}
.divMenuRight{width:120px;border:none;background-color:#aaaaaa;text-align:left;padding:0px;position:absolute;visibility:hidden;}
.divMenuRight ul{margin:1px;padding:1px;cursor:pointer;list-style:none outside none;background-color:#f1f1f1;}
.divMenuRight ul li{margin:2px 0px;padding:2px 0px 2px 0px}
.divMenuRight ul li.link{padding:2px 0px 2px 18px}
.divMenuRight ul li.sep{padding:0px;height:1px;background-color:#dddddd;}

#div_maskContainer{display:none;}
#div_maskBackground{z-index:9999;position:absolute;left:0px;top:0px;background-color:#fff;}
#div_maskMessage{z-index:10000;width:300px;padding:40px;font-site:14px;font-weight:bold;position:absolute;text-align:center;background-color:#fff;border:#999 solid 3px;}

.xheTool span{height:22px;height:22px !important;overflow:hidden;}
