#set($mf="$")
#set($pk="ID")
#set($memo="MEMO")
#set($Frame=$vo.GetParam('Frame'))
#set($Model=$vo.GetParam('Model'))
<%@page language="java" pageEncoding="UTF-8"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<!DOCTYPE html>
<html>
<head>
<title></title>
<%@include file="/commons/include/addAjax.jsp" %>
<script type="text/javascript">
${mf}${Frame.ToLower()}.callback = function(){if(${mf}${Frame.ToLower()}.result.type == 1){
	location.href = "get${Model}.htm";
}};
</script>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" class="listLogo">
	<tr>
		<td class="title">添加</td>
		<td class="menuTool">
			<a class="save" id="dataFormSave" href="#">保存</a>
			<a class="back" href="get${Model}.htm?page=${mf}{param.page}">返回</a>
		</td>
	</tr>
</table>
<div class="line"></div>
<form id="dataForm" method="post" action="add${Model}2.htm">
<table border="0" cellspacing="1" cellpadding="0" class="listTable">
#foreach($columnList in $vo.ColumnList)
	#set($colName=$columnList.ColumnName)
#if($colName!=$memo)
#if($colName!=$pk)
	<tr>
		<td class="form_title">$columnList.Comment</td>
		<td class="form_input"><input type="text" name="$colName.ToLower()" value="" /></td>
	</tr>
#end
#end
#end
#foreach($columnList in $vo.ColumnList)
	#set($colName=$columnList.ColumnName)
#if($colName==$memo)
	<tr>
		<td class="form_title">$columnList.Comment</td>
		<td class="form_input"><textarea name="$colName.ToLower()" style="width:400px;height:60px;"></textarea></td>
	</tr>
#end
#end
</table>
</form>
</body>
</html>
