<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false">
	<error-page><error-code>400</error-code><location>/50x.jsp</location></error-page>
	<error-page><error-code>404</error-code><location>/50x.jsp</location></error-page>
	<error-page><error-code>500</error-code><location>/50x.jsp</location></error-page>
	<session-config><session-timeout>120</session-timeout></session-config>
	<welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>

	<filter>
		<filter-name>websso</filter-name>
		<filter-class>dswork.sso.WebFilter</filter-class>
	</filter>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/index.jsp</url-pattern></filter-mapping>
<!--
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/dict/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/flow/*</url-pattern></filter-mapping>

	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/system/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/func/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/role/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/rolechoose/*</url-pattern></filter-mapping>

	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/org/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/orgrole/*</url-pattern></filter-mapping>

	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/user/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/userrole/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/userorg/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/usertype/*</url-pattern></filter-mapping>

	<filter-mapping><filter-name>websso</filter-name><url-pattern>/ds/common/ex/*</url-pattern></filter-mapping>
-->
</web-app>
