<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--just for WebioUtil-->
	<add key="webio.path" value="/WorkServer/WebIO"/>
	<add key="webio.maxsize" value="20971520"/>
	<add key="webio.image" value="jpg,jpeg,gif,png"/>
	<add key="webio.file" value="bmp,doc,docx,gif,jpeg,jpg,pdf,png,ppt,pptx,rar,rtf,txt,xls,xlsx,zip,7z"/>

	<!--just for WebioTempUtil-->
	<add key="webiotemp.clear" value="true"/>
	<add key="webiotemp.timeout" value="21600000"/>
	
	<!--web temp for JskeyUpload And for WebioTempUtil-->
	<add key="jskey.upload.savePath" value="/WorkServer/WebIO/temp"/>
	<add key="jskey.upload.maxSize" value="20971520"/>
	<add key="jskey.upload.image" value="jpg,jpeg,gif,png"/>
	<add key="jskey.upload.file" value="bmp,doc,docx,gif,jpeg,jpg,pdf,png,ppt,pptx,rar,rtf,txt,xls,xlsx,zip,7z"/>
</settings>