<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="DemoNet.Model.Demo" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<resultMaps>
		<resultMap id="result" class="DemoNet.Model.Demo">
			<result property="id" column="ID" />
			<result property="title" column="TITLE" />
			<result property="content" column="CONTENT" />
			<result property="foundtime" column="FOUNDTIME" />
		</resultMap>
	</resultMaps>
	<statements>
		<insert id="insert" parameterClass="DemoNet.Model.Demo" resultClass="DemoNet.Model.Demo">
			<selectKey resultClass="long" type="post" property="id">
				select last_insert_rowid()
			</selectKey>
			insert into DEMO
			(ID, TITLE, CONTENT, FOUNDTIME)
			values
			(null, #title#, #content#, #foundtime#)
		</insert>
		<delete id="delete" parameterClass="long">
			delete from DEMO where ID=#id#
		</delete>
		<update id="update" parameterClass="DemoNet.Model.Demo">
			update DEMO set
			TITLE=#title#,
			CONTENT=#content#,
			FOUNDTIME=#foundtime#
			where ID=#id#
		</update>
		<sql id="columns">
			ID, TITLE, CONTENT, FOUNDTIME
		</sql>
		<sql id="dynamicWhere">
			<dynamic prepend="where">
				<isParameterPresent>
					<isNotEmpty prepend="AND" property="title">
						TITLE like '%'||#title#||'%'
					</isNotEmpty>
					<isNotEmpty prepend="AND" property="content">
						CONTENT like '%'||#content#||'%'
					</isNotEmpty>
					<isNotEmpty prepend="AND" property="foundtime">
						FOUNDTIME like '%'||#foundtime#||'%'
					</isNotEmpty>
				</isParameterPresent>
			</dynamic>
		</sql>
		<select id="select" parameterClass="long" resultMap="result">
			select <include refid="columns" /> from DEMO where ID=#id#
		</select>
		<select id="query" parameterClass="Hashtable" resultMap="result">
			select <include refid="columns" /> from DEMO <include refid="dynamicWhere" />
		</select>
		<select id="queryCount" parameterClass="Hashtable" resultClass="int">
			select count(1) from DEMO <include refid="dynamicWhere" />
		</select>
	</statements>
</sqlMap>
