<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	   default-autowire="byName" default-lazy-init="false">
	<bean id="masterDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName:dswork.jdbc.DriverSpy}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis:900000}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis:900000}" />
		<property name="maxActive" value="${jdbc.maxActive:50}" />
		<property name="maxIdle" value="${jdbc.maxIdle:50}" />
		<property name="maxWait" value="${jdbc.maxWait:60000}" />
	</bean>
	<bean id="slaveDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName:dswork.jdbc.DriverSpy}" />
		<property name="url" value="${jdbc.read.url:${jdbc.url}}" />
		<property name="username" value="${jdbc.read.username:${jdbc.username}}" />
		<property name="password" value="${jdbc.read.password:${jdbc.password}}" />
		<property name="minEvictableIdleTimeMillis" value="${jdbc.read.minEvictableIdleTimeMillis:900000}" />
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.read.timeBetweenEvictionRunsMillis:900000}" />
		<property name="maxActive" value="${jdbc.read.maxActive:50}" />
		<property name="maxIdle" value="${jdbc.read.maxIdle:50}" />
		<property name="maxWait" value="${jdbc.read.maxWait:60000}" />
	</bean>
	<bean id="dataSource" class="dswork.core.datasource.DataSource">
		<property name="masterDataSource" ref="masterDataSource" />
		<property name="slaveDataSource" ref="slaveDataSource" />
	</bean>
</beans>
