<!DOCTYPE html>
<html>
<head>
<title>@RenderSection("title", false)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/web/themes/default/frame.css" />
<script type="text/javascript" src="/web/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/web/js/jskey/jskey_core.js"></script>
<script type="text/javascript" src="/web/js/dswork/dswork.js"></script>
<script type="text/javascript">
	$(function(){try{$(".form_title").css("width", "20%");}catch(e){}});
	$dswork.showNavTitle = "\u660e\u7ec6";
	$(function(){$dswork.showNavigation($dswork.showNavTitle);});
</script>
@RenderSection("head", false)
</head>
<body>
@RenderBody()
</body>
</html>