<!DOCTYPE html>
<html>
<head>
<title>@RenderSection("title", false)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/web/themes/default/frame.css" />
<script type="text/javascript" src="/web/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/web/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/web/js/jskey/jskey_core.js"></script>
<script type="text/javascript" src="/web/js/dswork/dswork.js"></script>
<script type="text/javascript" src="/web/js/dswork/form.js"></script>
<script type="text/javascript">
    $dswork.showNavTitle = "\u4fee\u6539";
    $(function(){$dswork.showNavigation($dswork.showNavTitle);});
</script>
<script type="text/javascript" src="/web/js/dswork/ajaxSubmit.js"></script>
@RenderSection("head", false)
</head>
<body>
@RenderBody()
</body>
</html>