#set($mf="$")
#set($pk="ID")
#set($memo="MEMO")
#set($Frame=$vo.GetParam('Frame'))
#set($Namespace=$vo.GetParam('Namespace'))
#set($Model=$vo.GetParam('Model'))
<%@page language="java" pageEncoding="UTF-8" import="java.util.*,${Frame}.web.MyRequest,
${Namespace}.MyFactory"%><%
MyRequest req = new MyRequest(request);
Long id = req.getLong("keyIndex");
request.setAttribute("po", MyFactory.get${Model}Service().get(id));
%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%@include file="/commons/include/getById.jsp" %>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" class="listLogo">
	<tr>
		<td class="title">明细</td>
		<td class="menuTool">
			<a class="back" onclick="window.history.back();return false;" href="#">返回</a>
		</td>
	</tr>
</table>
<div class="line"></div>
<table border="0" cellspacing="1" cellpadding="0" class="listTable">
#foreach($columnList in $vo.ColumnList)
	#set($colName=$columnList.ColumnName)
#if($colName!=$memo)
#if($colName!=$pk)
	<tr>
		<td class="form_title">$columnList.Comment</td>
		<td class="form_input">${mf}{fn:escapeXml(po.$colName.ToLower())}</td>
	</tr>
#end
#end
#end
#foreach($columnList in $vo.ColumnList)
	#set($colName=$columnList.ColumnName)
#if($colName==$memo)
	<tr>
		<td class="form_title">$columnList.Comment</td>
		<td class="form_input"><textarea class="readonlytext" style="width:400px;height:60px;">${mf}{fn:escapeXml(po.$colName.ToLower())}</textarea></td>
	</tr>
#end
#end
</table>
</body>
</html>
