#set($mf="$")
#set($pk="ID")
#set($memo="MEMO")
#set($Frame=$vo.GetParam('Frame'))
#set($Namespace=$vo.GetParam('Namespace'))
#set($Model=$vo.GetParam('Model'))
<%@page language="java" pageEncoding="UTF-8" import="java.util.*,${Frame}.web.MyRequest,
${Namespace}.MyFactory"%><%
MyRequest req = new MyRequest(request);
Long id = req.getLong("keyIndex");
request.setAttribute("po", MyFactory.get${Model}Service().get(id));
request.setAttribute("page", req.getInt("page", 1));
%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%@include file="/commons/include/updAjax.jsp" %>
	<script type="text/javascript">
	${mf}${Frame.ToLower()}.callback = function(){if($${Frame.ToLower()}.result.type == 1){
		location.href = "get${Model}.jsp?page=${mf}{page}";
	}};
	</script>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" class="listLogo">
	<tr>
		<td class="title">修改</td>
		<td class="menuTool">
			<a class="back" href="get${Model}.jsp?page=${mf}{page}">返回</a>
		</td>
	</tr>
</table>
<div class="line"></div>
<div style="margin:0 auto;text-align:center;"><input id="dataFormSave" type="button" class="button" value="提交" /></div>
<div class="line"></div>
<form id="dataForm" method="post" action="upd${Model}2.jsp">
<table border="0" cellspacing="1" cellpadding="0" class="listTable">
#foreach($columnList in $vo.ColumnList)
	#set($colName=$columnList.ColumnName)
#if($colName!=$memo)
#if($colName!=$pk)
	<tr>
		<td class="form_title">$columnList.Comment</td>
		<td class="form_input"><input type="text" name="$colName.ToLower()" value="${mf}{fn:escapeXml(po.$colName.ToLower())}" /></td>
	</tr>
#end
#end
#end
#foreach($columnList in $vo.ColumnList)
	#set($colName=$columnList.ColumnName)
#if($colName==$memo)
	<tr>
		<td class="form_title">$columnList.Comment</td>
		<td class="form_input"><textarea name="$colName.ToLower()" style="width:100%;height:60px;">${mf}{fn:escapeXml(po.$colName.ToLower())}</textarea></td>
	</tr>
#end
#end
</table>
<input type="hidden" name="$pk.ToLower()" value="${mf}{po.$pk.ToLower()}" />
</form>
</body>
</html>
