<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!--
	Default: ${user.home}/.m2/repository
	<localRepository>/path/to/local/repo</localRepository>
	-->
	<!--<offline>false</offline>-->
	<pluginGroups></pluginGroups>
	<proxies></proxies>
	<servers>
	</servers>
	<mirrors>
		<!--
		<mirror>
			<id>MyCentral</id>
			<name>My Central</name>
			<url>http://repo.maven.apache.org/maven2/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
		<mirror>
			<id>MyCentral</id>
			<name>My Central</name>
			<url>https://oss.sonatype.org/content/repositories/releases/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
		<mirror>
			<id>MySnapshots</id>
			<name>My Snapshots</name>
			<url>https://oss.sonatype.org/content/repositories/snapshots/</url>
			<mirrorOf>snapshots</mirrorOf>
		</mirror>
		-->
	</mirrors>
	<profiles>
		<profile>
			<id>NexusRepository</id>
			<repositories>
				<repository>
					<id>sonatypeReleases</id>
					<url>https://oss.sonatype.org/content/repositories/releases/</url>
					<releases><enabled>true</enabled></releases>
				</repository>
				<repository>
					<id>sonatypeSnapshots</id>
					<url>https://oss.sonatype.org/content/repositories/snapshots/</url>
					<releases><enabled>false</enabled></releases>
					<snapshots><enabled>true</enabled><updatePolicy>always</updatePolicy></snapshots>
				</repository>
			<!--always、daily（默认）、interval:X（X是一分钟为单位的整数）和never
				<repository>
					<id>repomaven</id>
					<url>http://repo.maven.apache.org/maven2/</url>
					<releases><enabled>true</enabled></releases>
				</repository>
				<repository>
					<id>mvnrepository</id>
					<url>http://mvnrepository.com/artifact/</url>
					<releases><enabled>true</enabled></releases>
				</repository>
			-->
			</repositories>
		</profile>
	</profiles>
</settings>
