#set($mf="$")
#set($pk="ID")
#set($Frame=$vo.GetParam('Frame'))
#set($Model=$vo.GetParam('Model'))
<%@page language="java" pageEncoding="UTF-8"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<!DOCTYPE html>
<html>
<head>
	<title>${vo.TableComment}</title>
	<%@include file="/commons/include/get.jsp" %>
<script type="text/javascript">
${mf}(function(){
	${mf}${Frame.ToLower()}.page.menu("del${Model}.htm", "upd${Model}1.htm", "get${Model}ById.htm", "${mf}{pageModel.currentPage}");
});
${mf}${Frame.ToLower()}.doAjax = true;
${mf}${Frame.ToLower()}.callback = function(){if(${mf}${Frame.ToLower()}.result.type == 1){
	location.href = "get${Model}.htm?page=${mf}{pageModel.currentPage}";
}}
</script>
<%@include file="/commons/include/getEasyui.jsp" %>
</head> 
<body>
<table border="0" cellspacing="0" cellpadding="0" class="listLogo">
	<tr>
		<td class="title">${vo.TableComment}列表</td>
		<td class="menuTool">
			<a class="insert" href="add${Model}1.htm?page=${mf}{pageModel.currentPage}">添加</a>
			<a class="delete" id="listFormDelAll" href="#">删除所选</a>
		</td>
	</tr>
</table>
<div class="line"></div>
<form id="queryForm" method="post" action="get${Model}.htm">
<table border="0" cellspacing="0" cellpadding="0" class="queryTable">
	<tr>
		<td class="input">
#foreach($col in $vo.ColumnList)#if($col.ColumnName!=$pk)
			&nbsp;$col.Comment：<input type="text" name="$col.ColumnName.ToLower()" value="${mf}{fn:escapeXml(param.$col.ColumnName.ToLower())}" />
#end#end
		</td>
		<td class="query"><input id="_querySubmit_" type="button" class="button" value="查询" /></td>
	</tr>
</table>
</form>
<div class="line"></div>
<form id="listForm" method="post" action="del${Model}.htm">
<table id="dataTable" border="0" cellspacing="1" cellpadding="0" class="listTable">
	<tr class="list_title">
		<td style="width:2%"><input id="chkall" type="checkbox" /></td>
		<td style="width:3%">操作</td>
#foreach($col in $vo.ColumnList)#if($col.ColumnName!=$pk)
		<td>$col.Comment</td>
#end#end
	</tr>
<c:forEach items="${mf}{pageModel.result}" var="d">
	<tr>
		<td><input name="keyIndex" type="checkbox" value="${mf}{d.id}" /></td>
		<td class="menuTool" keyIndex="${mf}{d.id}">&nbsp;</td>
#foreach($col in $vo.ColumnList)
#if($col.ColumnName!=$pk)
		<td>${mf}{fn:escapeXml(d.$col.ColumnName.ToLower())}</td>
#end
#end
	</tr>
</c:forEach>
</table>
<input name="page" type="hidden" value="${mf}{pageModel.currentPage}" />
</form>
<table border="0" cellspacing="0" cellpadding="0" class="bottomTable">
	<tr><td>${mf}{pageNav.page}</td></tr>
</table>
<br />
</body>
</html>
