<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false">
	<filter><filter-name>authFilter</filter-name><filter-class>common.auth.AuthFilter</filter-class></filter>
	<filter-mapping><filter-name>authFilter</filter-name><url-pattern>/ep/*</url-pattern></filter-mapping>
	<filter-mapping><filter-name>authFilter</filter-name><url-pattern>/manage/*</url-pattern></filter-mapping>
	
	<error-page><error-code>400</error-code><location>/50x.jsp</location></error-page>
	<error-page><error-code>404</error-code><location>/50x.jsp</location></error-page>
	<error-page><error-code>500</error-code><location>/50x.jsp</location></error-page>
	<session-config><session-timeout>120</session-timeout></session-config>
	<welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
</web-app>
