@charset "utf-8";
body{font-size:12px;color:#333;font-family:"\5B8B\4F53",Tahoma,Arial,Helvetica,sans-serif;}
a{color:#333;text-decoration:none;outline:none;}
a:link,a:visited{color:#333;outline:none;}
a:hover,a:active{color:#ff0000;text-decoration:underline;}
table,td,tr,th{font-size:12px;line-height:normal;}

.w990{width:990px;margin:0 auto;}
.w735{display:block;width:735px;}
.w735 img{margin-bottom:10px;}
.w360{display:block;width:360px;}

ul.list{padding:5px 10px 0px 10px;}
ul.list li{height:26px;line-height:26px;overflow:hidden;}
ul.list li a{color:#333;}
ul.list li a:link,ul.list li a:visited{color:#333;outline:none;}
ul.list li a:hover,ul.list li a:active{color:#ff0000;text-decoration:underline;}
ul.list li a span{float:right;font-size:inherit;font-size:inherit;font-weight:inherit;font-style:inherit;padding-left:3px;}

.citys{border:1px solid #e2edf3;border-radius:5px;padding:5px 20px;line-height:22px;background:#fff;margin-bottom:5px;}
.citys a{margin:0 18px;display:inline-block;}

.imsg .main{width:735px;}
.imsg .side{width:240px;}

div.vline{background-color:none;overflow:hidden;height:10px;clear:both;}
div.r_logo{border:none;width:240px;background-color:#1991CD;border-radius:5px 5px 0 0;}
div.r_logo span{color:#fff;font-size:14px;font-weight:bold;line-height:40px;padding-left:10px;}
div.tipslogo{background:url(images/s_tips.gif) repeat-y;width:240px;height:50px;}

.box{border:1px solid #ddd;border-top:none;background-color:#fff;}
.redbox{border:1px solid #ff0000;border-top:none;background-color:#fff;height:120px;}

/*头条新闻*/
.hotnews{background:#fff;border:1px solid #ddd;overflow:hidden;}
.hotnews .mid{background:url(images/news_hot_top.gif) no-repeat;border-bottom:border:1px solid #ddd;}
.hotnews dl{font-family:"\5FAE\8F6F\96C5\9ED1","Microsoft YaHei";height:84px;}
.hotnews dl dt{float:left;font-size:18px;padding:16px 34px 0 16px;width:44px;}
.hotnews dl dd{overflow:hidden;width:633px;height:84px;position:relative;}
.hotnews dl dd div {position:relative;width:630px;height:auto;}
.hotnews dl dd div div{overflow:hidden;width:630px;height:78px;padding:6px 0 0 0;}
.hotnews dl dd div div a span{display:block;width:630px;height:25px;overflow:hidden;font-size:18px;font-weight:bold;line-height:25px;}
.hotnews dl dd div div p{cursor:pointer;text-indent:2em;width:630px;line-height:20px;margin:0;vertical-align:top;text-align:left;word-break:break-all;word-wrap:break-word;}

.hotnews .mfoucs{margin:5px;overflow:hidden;width:400px;height:315px;}

/*焦点图右侧动态*/
.hotnews div.mlist{overflow:hidden;}
.hotnews div.mlist ul{width:295px;overflow:hidden;}
.hotnews div.mlist ul li{overflow:hidden;}
.hotnews div.listhot{overflow:hidden;height:20px;padding:5px 5px 0 5px;}
.hotnews div.listhot span{line-height:24px;font-size:14px;font-weight:bold;color:#ff6600;outline:none;}

/*网上办事大厅*/
.shixiang{background:#fff;padding:0;height:295px;}
.guidmain{padding:10px 0 10px 26px;overflow:hidden;}
.service{float:left;width:172px;height:275px;overflow:hidden;background:url(images/servicebg.gif) no-repeat left top;}
.service .g_title{height:40px;line-height:40px;text-align:center;}
.service .g_title img{vertical-align:middle;height:25px;margin-top:5px;}
.service ul{margin:0 20px 0 10px;}
.service li{overflow:hidden;height:52px;}
.service li img{vertical-align:middle;display:block;padding:10px;float:left;line-height:52px;}
.service li a,
.service li a:link,.service li a:visited{vertical-align:top;line-height:52px;}
.service li a:hover,.service li a:active{vertical-align:top;line-height:52px;}

/*栏目列表头部样式*/
.mlogo{background:url(images/box_top.gif) no-repeat 0 0;height:36px;border-right:1px solid #ddd;}
.mlogo a{float:right;line-height:36px;margin-right:10px;}
.mlogo span{color:#fff;font-size:14px;line-height:36px;width:130px;display:block;text-align:center;}
.mheight{height:140px;}

/*网上办事*/
.r_wsbs a{display:block;margin-bottom:2px;}
.r_wsbs img{width:240px;}

/*旅游提示*/
.r_tips ul{width:200px;border:none;}

/*旅游助手*/
.r_zhushou{background-color:#fff;padding:0 8px;overflow:hidden;}
.r_zhushou li{height:32px;line-height:32px;background:url(images/icon_aide.gif) no-repeat 0 0;padding-left:38px;margin-bottom:9px;float:left;width:70px;}
.r_zhushou li a,
.r_zhushou li a:link,
.r_zhushou li a:visited,
.r_zhushou li a:hover,
.r_zhushou li a:active{color:#1D86D0;font-family:"Microsoft YaHei";font-size:14px;}
.r_zhushou .L2{background-position:0 -160px;}
.r_zhushou .L3{background-position:0 -41px;}
.r_zhushou .L4{background-position:0 -200px;}
.r_zhushou .L5{background-position:0 -81px;}
.r_zhushou .L6{background-position:0 -241px;}
.r_zhushou .L7{background-position:0 -121px;}
.r_zhushou .L8{background-position:0 -280px;}

/*友情连接*/
.links{background:#fff;border:1px solid #ddd;border-radius:3px;margin-top:10px;}
.links .hd{background:url(images/box_top.gif) no-repeat;height:36px;line-height:36px;padding:0 12px 0 0;}
.links .hd ul li{float:right;height:36px;line-height:36px;vertical-align:middle;}
.links .hd h2{color:#fff;font-size:14px;font-weight:bold;text-align:center;width:130px;}
.links .bd ul{background:none;overflow:hidden;padding:12px 15px;}
.links .bd ul li{float:left;height:26px;line-height:26px;margin:0 5px;overflow:hidden;width:120px;}

/*右侧浮动图片*/
.floatPanel{display:;z-index:0;}
.floatPanel .titlePanel{width:120px;height:30px;line-height:30px;background-color:#ff0000;color:#fff;font-size: 18px;}
.floatPanel .ctrolPanel{width:120px;position:fixed;right:40px;top:220px;z-index:0;text-align:center;background-color:#fff; _position:absolute; /* for IE6 */_top:expression(documentElement.scrollTop + 200);}
.floatPanel .ctrolPanel span{color:#fff;float:right;font-weight:bold;cursor:pointer;margin-right:5px;}
.floatPanel .ctrolPanel a{width:100px;font-size:12px;color:#ff6600;text-align:center;overflow:hidden;}
.floatPanel .ctrolPanel a img{width:100px;height:130px;margin-top:5px;margin-bottom:5px;}

