@{
    Layout = "~/Views/Commons/AddAjax.cshtml";
}
@section head{
	<script type="text/javascript">
		$dswork.callback = function(){if($dswork.result.type == 1){
			location.href = "GetDemo.htm";
		}};
	</script>
}
@{
<table border="0" cellspacing="0" cellpadding="0" class="listLogo">
	<tr>
		<td class="title">添加</td>
		<td class="menuTool">
			<a class="save" id="dataFormSave" href="#">保存</a>
			<a class="back" href="GetDemo.htm?page=@Request["page"]">返回</a>
		</td>
	</tr>
</table>
<div class="line"></div>
<form id="dataForm" method="post" action="AddDemo2.htm">
<table border="0" cellspacing="1" cellpadding="0" class="listTable">
	<tr>
		<td class="form_title">标题：</td>
		<td class="form_input"><input type="text" name="title" value="" /></td>
	</tr>
	<tr>
		<td class="form_title">内容：</td>
		<td class="form_input"><input type="text" name="content" value="" /></td>
	</tr>
	<tr>
		<td class="form_title">创建时间：</td>
		<td class="form_input"><input type="text" name="foundtime" value="" /></td>
	</tr>
</table>
</form>
}
