@{
    Layout = "~/Views/Commons/GetById.cshtml";
}
@{
<table border="0" cellspacing="0" cellpadding="0" class="listLogo">
	<tr>
		<td class="title">明细</td>
		<td class="menuTool">
			<a class="back" onclick="window.history.back();return false;" href="#">返回</a>
		</td>
	</tr>
</table>
<div class="line"></div>
<table border="0" cellspacing="1" cellpadding="0" class="listTable">
	<tr>
		<td class="form_title">标题：</td>
		<td class="form_input">@ViewBag.po.title</td>
	</tr>
	<tr>
		<td class="form_title">内容：</td>
		<td class="form_input">@ViewBag.po.content</td>
	</tr>
	<tr>
		<td class="form_title">创建时间：</td>
		<td class="form_input">@ViewBag.po.foundtime</td>
	</tr>
</table>
}
