<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false">

<!--
	<filter>
		<filter-name>websso</filter-name>
		<filter-class>dswork.sso.WebFilter</filter-class>
	</filter>
	<filter-mapping><filter-name>websso</filter-name><url-pattern>/cms/*</url-pattern></filter-mapping>
	
	<filter>
		<filter-name>authOwnSSOFilter</filter-name>
		<filter-class>common.authown.AuthOwnSSOFilter</filter-class>
	</filter>
	<filter-mapping><filter-name>authOwnSSOFilter</filter-name><url-pattern>/cms/*</url-pattern></filter-mapping>
-->

	<filter>
		<filter-name>authOwnFilter</filter-name>
		<filter-class>common.authown.AuthOwnFilter</filter-class>
	</filter>
	<filter-mapping><filter-name>authOwnFilter</filter-name><url-pattern>/cms/*</url-pattern></filter-mapping>


	<error-page><error-code>400</error-code><location>/50x.jsp</location></error-page>
	<error-page><error-code>404</error-code><location>/50x.jsp</location></error-page>
	<error-page><error-code>500</error-code><location>/50x.jsp</location></error-page>
	<session-config><session-timeout>120</session-timeout></session-config>
	<welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
</web-app>
	
</web-app>
