<?xml version="1.0" encoding="UTF-8"?>
<!-- -->
<Configuration status="off" monitorInterval="3">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%p] %c - %m%n" />
		</Console>
		<RollingFile name="logfile" fileName="${web:rootDir}/../../logs${web:contextPath}/log4j.log" filePattern="${web:rootDir}/../../logs${web:contextPath}/log4j%d{yyyy-MM-dd}-%i.txt.gz" ignoreExceptions="false">
			<PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%p] %c - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true" /><!-- modulate=true,间隔以0点为参考值 -->
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<!-- 队列，主队列primary，如果失败，则尝试Failovers中的 -->
		<!-- <Failover name="failover" primary="logfile"> <Failovers> <AppenderRef ref="stdout" /> </Failovers> </Failover> -->
	</Appenders>
	<Loggers>
		<logger level="WARN"  additivity="false" name="jdbc.sqlonly"><appender-ref ref="stdout" /><appender-ref ref="logfile" /></logger>
		<logger level="WARN"  additivity="false" name="org.mybatis"><appender-ref ref="stdout" /><appender-ref ref="logfile" /></logger>
		<logger level="WARN"  additivity="false" name="org.apache.ibatis"><appender-ref ref="stdout" /><appender-ref ref="logfile" /></logger>
		<logger level="WARN"  additivity="false" name="org.springframework"><appender-ref ref="stdout" /><appender-ref ref="logfile" /></logger>
		<logger level="FATAL" additivity="false" name="org.hibernate"><appender-ref ref="stdout" /><appender-ref ref="logfile" /></logger>
		<logger level="FATAL" additivity="false" name="org.hibernate.SQL"><appender-ref ref="stdout" /><appender-ref ref="logfile" /></logger>
		<logger level="FATAL" additivity="false" name="org.apache.commons.validator.ValidatorResources"><appender-ref ref="stdout" /><appender-ref ref="logfile" /></logger>
		<Root level="WARN"><AppenderRef ref="logfile" /><AppenderRef ref="stdout" /></Root>
	</Loggers>
	<!-- org.hibernate.SQL org.hibernate.cache -->
</Configuration>