<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	   default-autowire="byName" default-lazy-init="false">

	<bean id="dataSourceHibernate" class="dswork.core.datasource.DataSource">
		<property name="masterDataSource" ref="slaveDataSource" />
		<property name="slaveDataSource" ref="masterDataSource" />
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceHibernate"/>
		<property name="mappingLocations" >
			<list>
				<value>classpath*:/testwork/mapper/**/*.hbm.xml</value>
			</list>
		</property>
		<!--< property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" / >-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<!--
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.default_batch_fetch_size">4</prop>
				-->
				<prop key="hibernate.query.substitutions">true 1, false 0</prop>
				<prop key="hibernate.jdbc.batch_size">0</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManagerHibernate" class="dswork.core.datasource.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="transactionInterceptorHibernate" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManagerHibernate" />
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="get*">PROPAGATION_NEVER,readOnly</prop>
				<prop key="query*">PROPAGATION_NEVER,readOnly</prop>
				<prop key="*">PROPAGATION_NEVER,readOnly</prop>
			</props>
		</property>
	</bean>

	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="proxyTargetClass" value="true" />
		<property name="beanNames">
			<list>
				<value>*Service</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptorHibernate</value>
			</list>
		</property>
	</bean>
</beans>
