<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
	<description>ibatis.net-ISqlMapper</description>
	<object id="SqlSessionTemplate" type="Spring.Data.IBatis.SqlMapperFactoryObject, Spring.Data.IBatis">
		<property name="Config" value="~/Config/SqlMap.config" />
	</object>
	<object id="SqlSessionTemplateDialect" type="Dswork.Core.Mybaits.Dialect.LimitOffsetDialect, Dswork.Core" />
</objects>