<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<add key="connectionString" value="Data Source=|DataDirectory|/db;Version=3;"/>
</settings>
<!--
SQLite3 : "Data Source=|DataDirectory|/db;Version=3;"#UTF8Encoding=True; #UseUTF16Encoding=True;
MySql   : "Server=localhost;Port=3306;Database=demo;Uid=demo;Pwd=demo;"
-->