<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" default-autowire="byName" default-lazy-init="true">
	<!--Dao配置和Service配置-->
	<object id="demoDao" type="DemoNet.Dao.DemoDao" />
	<object id="demoService" type="DemoNet.Service.DemoService" />

	<!--Action Manage配置-->
	<object type="Areas.Manage.Controllers.DemoController" singleton="false" />

	<!--Action配置-->


</objects>