<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dswork.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 改变配置信息 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" >
    </uses-permission>

    <!-- 测试 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="TestsForDsWork"
        android:targetPackage="dswork.android" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Sherlock.__Theme.Light" >
        <activity
            android:name=".IndexActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.ui.ViewPagerActivity"
            android:label="@string/title_activity_view_pager" >
        </activity>
        <activity
            android:name=".demo.ui.FragmentTabHostActivity"
            android:label="@string/title_activity_fragment_tab_host" >
        </activity>
        <activity
            android:name=".demo.ui.OleTabActivity"
            android:label="@string/title_activity_oletab"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name=".demo.ui.SlidingMenuActivity"
            android:label="@string/title_activity_slidingmenu"
            android:logo="@drawable/ic_3"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name=".demo.ui.FragmentDemoActivity"
            android:label="@string/title_activity_fragment_demo" >
        </activity>
        <activity
            android:name=".demo.ui.HtmlTabActivity"
            android:label="@string/title_activity_html_tab"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <!-- singleAppDemo -->
        <activity
            android:name=".demo.framework.app.single.view.PersonGet_A"
            android:label="@string/title_activity_person" >
        </activity>
        <activity
            android:name=".demo.framework.app.single.view.PersonAdd_A"
            android:label="@string/title_activity_person_add" >
        </activity>
        <activity
            android:name=".demo.framework.app.single.view.PersonUpd_A"
            android:label="@string/title_activity_person_edit" >
        </activity>
        <activity
            android:name=".demo.framework.app.single.view.PersonGetById_A"
            android:label="@string/title_activity_person_detail" >
        </activity>
        <activity
            android:name=".demo.framework.app.single.view.PersonSearch_A"
            android:label="@string/title_activity_person_search" >
        </activity>
        <activity
            android:name=".demo.component.AlphabetActivity"
            android:label="@string/title_activity_alphabet" >
        </activity>
        <activity
            android:name=".demo.component.PullToRefreshActivity"
            android:label="@string/title_activity_pulltorefresh" >
        </activity>
        <activity
            android:name=".demo.component.SwipeRefreshActivity"
            android:label="@string/title_activity_swipe_refresh" >
        </activity>
        <activity
            android:name="dswork.android.demo.component.DownloadOneActivity"
            android:label="@string/title_activity_download_one" >
        </activity>
        <!-- webAppDemo -->
        <!-- android:configChanges 防止横竖屏切换时重刷Activity -->
        <activity
            android:name=".demo.framework.app.web.view.Main_A"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_demo_main"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name=".demo.framework.app.web.view.DemoAdd_A"
            android:label="@string/title_activity_demo_add"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name=".demo.framework.app.web.view.DemoUpd_A"
            android:label="@string/title_activity_demo_upd"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name=".demo.framework.app.web.view.DemoGetById_A"
            android:label="@string/title_activity_demo_detail"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <activity
            android:name=".demo.framework.app.web.view.DemoSearch_A"
            android:label="@string/title_activity_demo_search"
            android:parentActivityName=".IndexActivity" >
        </activity>
        <!-- greenDaoDemo -->
        <activity
            android:name=".demo.framework.app.greendao.view.PersonGet_A"
            android:label="@string/title_activity_person" >
        </activity>
        <activity
            android:name=".demo.framework.app.greendao.view.PersonAdd_A"
            android:label="@string/title_activity_person_add" >
        </activity>
        <activity
            android:name=".demo.framework.app.greendao.view.PersonUpd_A"
            android:label="@string/title_activity_person_edit" >
        </activity>
        <activity
            android:name=".demo.framework.app.greendao.view.PersonGetById_A"
            android:label="@string/title_activity_person_detail" >
        </activity>
        <activity
            android:name=".demo.framework.app.greendao.view.PersonSearch_A"
            android:label="@string/title_activity_person_search" >
        </activity>

        <!-- 测试 -->
        <uses-library android:name="android.test.runner" />

    </application>

</manifest>
