<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	   default-autowire="byName" default-lazy-init="false">
	<!-- properties -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:/config/config.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="masterDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		
		<property name="minEvictableIdleTimeMillis" value="900000" />
		<property name="timeBetweenEvictionRunsMillis" value="900000" />
		<property name="maxActive" value="50" />
		<property name="maxIdle" value="50" />
		<property name="maxWait" value="60000" />
	</bean>
	<bean id="slaveDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		
		<property name="minEvictableIdleTimeMillis" value="900000" />
		<property name="timeBetweenEvictionRunsMillis" value="900000" />
		<property name="maxActive" value="50" />
		<property name="maxIdle" value="50" />
		<property name="maxWait" value="60000" />
	</bean>
	
	<bean id="dataSource" class="dswork.core.datasource.DataSource">
		<property name="masterDataSource" ref="masterDataSource" />
		<property name="slaveDataSource" ref="slaveDataSource" />
	</bean>
	<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		
		<property name="minEvictableIdleTimeMillis" value="900000" />
		<property name="timeBetweenEvictionRunsMillis" value="900000" />
		<property name="maxActive" value="50" />
		<property name="maxIdle" value="50" />
		<property name="maxWait" value="60000" />
		
		minEvictableIdleTimeMillis连接空闲时间，
		timeBetweenEvictionRunsMillis清除空闲连接间隔，
		maxActive最大连接数(8)， 
		maxIdle最大空闲数(8)，
		maxWait连接超时等待时间(无限)
	</bean>
	-->
	
	<!-- log4jdbc -->
	<!--
	<bean id="log4jdbcInterceptor" class="net.sf.log4jdbc.DataSourceSpyInterceptor" />
	<bean id="dataSourceLog4jdbcAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<value>log4jdbcInterceptor</value>
			</list>
		</property>
		<property name="beanNames">
			<list>
				<value>dataSource</value>
			</list>
		</property>
	</bean>
	-->
</beans>
