/*IE6背景图片不缓存BUG*/
* {filter:expression(document.execCommand("BackgroundImageCache", false, true));}
html {height:100%;margin:0;padding:0;border:none;overflow:auto;}
body {height:100%;margin:0;padding:0;border:none;font-size:12px;font-weight:bold;background-color:#FEFEFE;text-align:center;overflow:auto;}
a {font-size:12px;}
td {font-size:12px;}
@font-face {
	font-family:"treefont";
	src:url("font/tree.eot");/* IE9+ */
	src:url('font/tree.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
		url('font/tree.woff') format('woff'),/* chrome,firefox */
		url('font/tree.ttf') format('truetype'),/* chrome,firefox,opera,Safari,Android,iOS4.2+ */
		url('font/tree.svg#dsworkfont') format('svg');/* iOS4.1- */
	font-weight:normal;
	font-style:normal;
}
.jskeymenu {width:100%;border:0px;font-family:Helvetica;}/*height:100%由程序设置*/

/*分层菜单的样式设置*/
.jskeymenu .menuOpen,
.jskeymenu .menuClose {
	background-color: #E0ECFF;
	background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
	background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
	background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
	background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
	overflow:hidden;width:100%;height:26px;
	padding-left:7px;padding-top:2px;cursor:pointer;border:none;
	color:#333333;text-align:left;font-weight:bold;
	border-bottom:solid #95B8E7 1px;
}
.jskeymenu .menuOpen span,
.jskeymenu .menuClose span {
	font-family:"treefont";font-size:inherit;font-style:normal;font-weight:normal;outline:0;display:inline-block;margin-right:5px;
}
.jskeymenu .cellOpen {width:100%;}/*height:100%由程序设置*/
.jskeymenu .cellClose {width:100%;height:0%;}
.jskeymenu .cellContent {width:100%;height:100%;overflow-y:auto;overflow-x:hidden;}

/*QQ式菜单的列表样式设置*/
/**/
.jskeymenu .imgdiv {width:99%;cursor:pointer;text-align:left;line-height:20px;margin:5px 0px 0px 3px;font-weight:bold;}
.jskeymenu .imgdiv img {width:20px;height:20px;border:solid #edf2f8 1px;vertical-align:middle;margin:0px 3px 0px 5px;}

/*QQ式菜单的头像样式设置*/
/*
.jskeymenu .imgdiv {margin-top:5px;width:99%;cursor:pointer;text-align:center;}
.jskeymenu .imgdiv img {width:32px;height:32px;margin-bottom:2px;display:block;border:solid #FEFEFE 1px;margin:auto;}
*/

/*鼠标移过*/
.jskeymenu .imgdiv img.imgout {border:solid #FEFEFE 1px;}
.jskeymenu .outfont {color:#333333;}
/*鼠标移开*/
.jskeymenu .imgdiv img.imgover {border:solid #FEFEFE 1px;}
.jskeymenu .overfont {color:#ff0000;text-decoration:underline;}

/*树状菜单的样式设置*/
div.treenodes i,
div.treenode i {font-family:"treefont";color:#000;font-size:22px;line-height:22px;height:22px;width:22px;font-style:normal;font-weight:normal;outline:0;display:inline-block;}
/*节点块容器*/
div.treenodes {display:block;width:95%;white-space:nowrap;vertical-align:top;text-align:left;padding:0;margin:0;}
div.treenodeout, div.treenodeover {font-size:12px;display:inline;}
div.treenodeout {color:#333333;}
div.treenodeover {color:#ff0000;}
/*节点*/
div.treenode {cursor:pointer;display:block;width:95%;padding-left:3px;white-space:nowrap;vertical-align:top;text-align:left;}
div.treenode .img {border:0px;width:20px;height:20px;vertical-align:text-bottom;}
div.treedivout, div.treedivover {height:22px;line-height:22px;font-size:12px;}
div.treedivout {color:#333333;}
div.treedivover {color:#333333;}